<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ピリピリ弾幕ビデオサイト (゜-゜)つロ 乾杯~-pilipili</title>
    <link rel="stylesheet" href="/statics/css/header.css">
    <link rel="stylesheet" href="/statics/css/main.css">
    <link rel="stylesheet" href="/statics/css/register_pc.css">
</head>

<body>
    <header>
        <nav class="not_logged">
            <div id="navigator">
                <a id="nav_homepage" href="/"><span class="bilifont">&#xE72B;</span>主站</a>
                <a>番剧</a>
                <a>游戏中心</a>
                <a>直播</a>
                <a>会员购</a>
                <a>漫画</a>
                <a>赛事</a>
                <a id="nav_download"><span class="bilifont">&#xE72D;</span>下载APP</a>
            </div>
            <form id="search">
                <input>
                <button class="bilifont">&#xE72C;</button>
            </form>
            <div id="user_operation">
                <img src="/statics/images/akari.jpg">
                <a href="/passport/login">登录</a>
                <a href="/passport/register">注册</a>
            </div>
            <!--div id="user_operation">
            <img src="/statics/images/akari.jpg">
            <a>大会员</a>
            <a>消息</a>
            <a>动态</a>
            <a>收藏</a>
            <a>历史</a>
            <a>创作中心</a>
        </div-->
            <div id="publication"><a>投稿</a></div>
        </nav>
    </header>
</body>

</html>