<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>【回形针PaperClip】如何成为双板滑雪高手？_哔哩哔哩 (゜-゜)つロ 干杯~-bilibili</title>
    <link rel="stylesheet" href="/statics/css/header.css">
    <link rel="stylesheet" href="/statics/css/main.css">
    <link rel="stylesheet" href="/statics/css/video.css">
</head>
<body>
<header>
    <nav class="not_logged">
        <div id="navigator">
            <a id="nav_homepage" href="/">
                <img src="/statics/images/bilibili.svg">
                <span>主站</span>
            </a>
            <a>番剧</a>
            <a>游戏中心</a>
            <a>直播</a>
            <a>会员购</a>
            <a>漫画</a>
            <a>赛事</a>
            <a id="nav_download"><span class="bilifont">&#xE72D;</span>下载APP</a>
        </div>
        <form id="search">
            <input>
            <button class="bilifont">&#xE72C;</button>
        </form>
        <div id="user_operation">
            <img src="/statics/images/akari.jpg">
            <a href="/passport/login">登录</a>
            <a href="/passport/register">注册</a>
        </div>
        <!--div id="user_operation">
        <img src="/statics/images/akari.jpg">
        <a>大会员</a>
        <a>消息</a>
        <a>动态</a>
        <a>收藏</a>
        <a>历史</a>
        <a>创作中心</a>
    </div-->
        <div id="post"><a>投稿</a></div>
    </nav>
</header>
<div id="main">
    <div id="left">
        <div id="video_top">
            <h1>【回形针PaperClip】如何成为双板滑雪高手？</h1>
            <span>25.0万播放</span>
            <span>769弹幕</span>
            <span>2021-01-23 21:00:04</span>
        </div>
        <div id="video">
            <video></video>
            <div id="danmaku"></div>
        </div>
        <div id="video_bottom"></div>
        <div id="video_info">
            <p id="video_description"></p>
            <div id="video_tags"></div>
        </div>
        <div id="comment"></div>
    </div>
    <div id="right">
        <div id="author">
            <img>
            <p id="username">回形针PaperClip</p>
            <p id="statement">你的当代生活说明书，每周不定期更新。（未成</p>
            <button id="follow">+ 关注 302.7万</button>
        </div>
    </div>
</div>
<p>{{.av}}</p>
</body>
</html>