<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>【Sarail】关于我转生变成OI爷这档事_哔哩哔哩 (゜-゜)つロ 干杯~-bilibili</title>
    <link rel="stylesheet" href="/statics/css/header.css">
    <link rel="stylesheet" href="/statics/css/main.css">
    <link rel="stylesheet" href="/statics/css/video.css">
    <script>String.prototype.every = Array.prototype.every</script>
</head>

<body>
    <header>
        <nav class="not_logged">
            <div id="navigator">
                <a id="nav_homepage" href="/">
                    <img src="/statics/images/bilibili.svg">
                    <span>主站</span>
                </a>
                <a href="javascript:alert('整天就知道看番！')">番剧</a>
                <a href="javascript:alert('整天就知道打游戏！')">游戏中心</a>
                <a href="javascript:alert('整天就知道看直播！')">直播</a>
                <a href="javascript:alert('整天就知道买东西！')">会员购</a>
                <a href="javascript:alert('整天就知道看漫画！')">漫画</a>
                <a href="javascript:alert('整天就知道看比赛！')">赛事</a>
                <a id="nav_download" href="https://github.com/Override0330/WinterExam-Android-2020"
                    target="_blank"><span class="bilifont">&#xE72D;</span>下载APP</a>
            </div>
            <form id="search">
                <input>
                <button class="bilifont">&#xE72C;</button>
            </form>
            <div class="user_operation not_logged">
                <img src="/statics/images/akari.jpg">
                <a href="/account/login">登录</a>
                <a href="/account/register">注册</a>
            </div>
            <div class="user_operation logged">
                <img class="user">
                <a>大会员</a>
                <a>消息</a>
                <a>动态</a>
                <a>收藏</a>
                <a>历史</a>
                <a>创作中心</a>
            </div>
            <div id="post"><a>投稿</a></div>
        </nav>
        <div class="hover">
            <div class="user" style="visibility: hidden;opacity: 0;">
                <img class="avatar">
                <span class="username">admin</span>
                <div class="level_content">
                    <div class="info">
                        <span class="level">等级 0</span>
                        <span class="exp">0 / 0</span>
                    </div>
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                </div>
                <div class="money">
                    <a class="coin"><img src="/statics/images/coin.svg"><span>0</span></a>
                    <a class="b-coin"><img src="/statics/images/b-coin.svg"><span>0</span></a>
                </div>
                <div class="links">
                    <a class="setting" href="/account/setting">个人中心</a>
                </div>
                <div class="logout">
                    <span>登出</span>
                </div>
            </div>
        </div>
    </header>
    <script src="/statics/js/header.js"></script>
    <div id="main">
        <div id="top">
            <h1>【Sarail】关于我转生变成OI爷这档事</h1>
            <span class="play_number">38.6亿</span>
            <span class="danmaku_number">824.6万</span>
            <span class="time">2021-01-23 21:00:04</span>
        </div>
        <div id="author">
            <img src="https://avatars.githubusercontent.com/u/57243380">
            <p class="username">sarail</p>
            <p class="statement">不中奖不改签名</p>
            <button class="follow">+ 关注 3027万</button>
        </div>
        <div id="video">
            <video src="/statics/video/test.mp4" width="802px" height="539px"></video>
            <div class="danmaku_area"></div>
            <div class="controls">
                <div class="process">
                    <div class="played"></div>
                    <div class="unplayed"></div>
                    <img class="icon" src="/statics/images/video/controls-process-icon.svg">
                </div>
                <div class="left">
                    <img src="/statics/images/video/controls-play.svg">
                    <div class="location">
                        <span>00:00</span><span class="divider">/</span><span>00:00</span>
                    </div>
                </div>
            </div>
            <div class="hover">
                <div class="font_settings" style="display: none">
                    <span>模式</span>
                    <div class="type">
                        <div class="scroll chosen"><img><span>滚动</span></div>
                        <div class="top"><img><span>顶部</span></div>
                        <div class="bottom"><img><span>底部</span></div>
                    </div>
                    <span>颜色</span>
                    <div class="color">
                        <div class="edit">
                            <input value="#FFFFFF">
                            <div style="background-color: #ffffff;"></div>
                        </div>
                        <div class="list">
                            <div style="background-color: #FE0302;"></div>
                            <div style="background-color: #FF7204;"></div>
                            <div style="background-color: #FFAA02;"></div>
                            <div style="background-color: #FFD302;"></div>
                            <div style="background-color: #FFFF00;"></div>
                            <div style="background-color: #A0EE00;"></div>
                            <div style="background-color: #00CD00;"></div>
                            <div style="background-color: #019899;"></div>
                            <div style="background-color: #4266BE;"></div>
                            <div style="background-color: #89D5FF;"></div>
                            <div style="background-color: #CC0273;"></div>
                            <div style="background-color: #222222;"></div>
                            <div style="background-color: #9B9B9B;"></div>
                            <div style="background-color: #FFFFFF;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="info">
                    <span class="audience_number">1696</span>
                    <span class="danmaku_number">2000</span>
                </div>
                <div class="control">
                    <div class="switch off">
                        <span class="sign">弹</span>
                    </div>
                    <div class="settings">
                        <img src="/statics/images/video/danmaku-settings.svg">
                    </div>
                    <div class="send">
                        <div class="edit">
                            <div></div>
                            <input placeholder="发个弹幕见证当下">
                            <a href="javascript:alert('万物皆虚，万事皆允')">弹幕礼仪</a>
                        </div>
                        <button>发送</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="recommend">
            <!--section>
                <div><img src=""></div>
                <p class="title"></p>
                <p class="author"></p>
                <p class="data">
                    <span class="play_number"></span>
                    <span class="danmaku_number"></span>
                </p>
            </section-->
        </div>
        <div id="toolbar"></div>
        <div id="info">
            <p class="description"></p>
            <div class="tags"></div>
        </div>
        <div id="comment"></div>
    </div>
    <script src="/statics/js/video.js"></script>
</body>

</html>