<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>【Sarail】关于我转生变成OI爷这档事_哔哩哔哩 (゜-゜)つロ 干杯~-bilibili</title>
    <link rel="stylesheet" href="/statics/css/header.css">
    <link rel="stylesheet" href="/statics/css/main.css">
    <link rel="stylesheet" href="/statics/css/video.css">
</head>

<body>
    <header>
        <nav class="not_logged">
            <div id="navigator">
                <a id="nav_homepage" href="/">
                    <img src="/statics/images/bilibili.svg">
                    <span>主站</span>
                </a>
                <a href="javascript:alert('整天就知道看番！')">番剧</a>
                <a href="javascript:alert('整天就知道打游戏！')">游戏中心</a>
                <a href="javascript:alert('整天就知道看直播！')">直播</a>
                <a href="javascript:alert('整天就知道买东西！')">会员购</a>
                <a href="javascript:alert('整天就知道看漫画！')">漫画</a>
                <a href="javascript:alert('整天就知道看比赛！')">赛事</a>
                <a id="nav_download" href="https://github.com/Override0330/WinterExam-Android-2020" target="_blank"><span class="bilifont">&#xE72D;</span>下载APP</a>
            </div>
            <form id="search">
                <input>
                <button class="bilifont">&#xE72C;</button>
            </form>
            <div id="user_operation">
                <img src="/statics/images/akari.jpg">
                <a href="/passport/login">登录</a>
                <a href="/passport/register">注册</a>
            </div>
            <!--div id="user_operation">
        <img src="/statics/images/akari.jpg">
        <a>大会员</a>
        <a>消息</a>
        <a>动态</a>
        <a>收藏</a>
        <a>历史</a>
        <a>创作中心</a>
    </div-->
            <div id="post"><a>投稿</a></div>
        </nav>
    </header>
    <div id="main">
        <div id="top">
            <h1>【Sarail】关于我转生变成OI爷这档事</h1>
            <span class="play_number">38.6亿</span>
            <span class="danmaku_number">824.6万</span>
            <span class="time">2021-01-23 21:00:04</span>
        </div>
        <div id="author">
            <img src="https://avatars.githubusercontent.com/u/57243380">
            <p class="username">sarail</p>
            <p class="statement">不中奖不改签名</p>
            <button class="follow">+ 关注 3027万</button>
        </div>
        <div id="video">
            <video src="/statics/video/test.mp4" width="802px" height="539px" controls></video>
            <div class="bottom">
                <div class="info">
                    <span class="audience_number">1696</span>
                    <span class="danmaku_number">2000</span>
                </div>
                <div class="control">
                    <div class="switch off">
                        <span class="sign">弹</span>
                    </div>
                    <div class="settings">
                        <img src="/statics/images/video/danmaku-settings.svg">
                    </div>
                    <div class="send">
                        <div class="edit">
                            <img src="/statics/images/video/danmaku-font.svg">
                            <input placeholder="发个弹幕见证当下">
                            <a href="javascript:alert('万物皆虚，万事皆允')">弹幕礼仪</a>
                        </div>
                        <button>发送</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="recommend">
            <!--section>
                <div><img src=""></div>
                <p class="title"></p>
                <p class="author"></p>
                <p class="data">
                    <span class="play_number"></span>
                    <span class="danmaku_number"></span>
                </p>
            </section-->
        </div>
        <div id="toolbar"></div>
        <div id="info">
            <p class="description"></p>
            <div class="tags"></div>
        </div>
        <div id="comment"></div>
    </div>
    <script src="/statics/js/video.js"></script>
</body>

</html>