header {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
header>nav {
    display: grid;
    font-size: 14px;
    line-height: 36px;
    justify-items: center;
    align-items: center;
}

header>nav.not_logged {
    grid-template-columns: 540px auto 180px 120px;
}

header>nav.logged  {
    grid-template-columns: 540px auto 450px 120px;
}

header #navigator .bilifont {
    font-size: 18px;
}

header #nav_homepage .bilifont {
    margin-right: 6px;
}

header #nav_download .bilifont {
    margin-right: 2px;
}

header #nav_homepage img {
    width: 70px;
    height: 32px;
    margin-right: 16px;
}

header>nav #search{
    display: grid;
    grid-template-columns: auto 48px;
    width: 100%;
    max-width: 500px;
}

header>nav #search input{
    height: 36px;
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    width: 100%;
    font-size: 14px;
    transition: all .2s;
    box-sizing: border-box;
    border: 1px solid #E7E7E7;
}

header>nav #search input:focus{
    color: #222222;
}


header>nav #search button{
    height: 36px;
    width: 48px;
    border-radius: 0 2px 2px 0;
    line-height: 26px;
    font-size: 16px;
    background-color: #e7e7e7;
    border:none;
}

header>nav a {
    text-decoration: none;
}

header>nav>div:not(#publication) a{
    color: #212121;
}

header>nav>#publication {
    color: white;
}

header>nav input {
    background-color: #f4f4f4;
    color: #999;
}

header>nav>div .bilifont {
    color: #00a1d6
}

#navigator>a, #user_operation>a {
    display: flex;
    margin: 6px;
}

#navigator {
    display: flex;
}

#user_operation {
    display: flex;
    justify-content: space-around;
}

#user_operation * {
    margin: 10px
}

#user_operation img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#publication {
    width: 100px;
    height: 36px;
    text-align: center;
    font-size: 14px;
    background-color: #fb7299;
    border-radius: 2px;
    margin:10px;
}