@font-face {
    font-family: bilifont;
    src: url(/statics/fonts/iconfont.woff) format("woff");
}


header nav {
    display: flex;
    justify-content: space-between;
}

#nav_left {
    display: flex;
}

#nav_right {
    display: flex;
}

.bilifont {
    font-family: bilifont;
}