#banner {
    background-color: #00A0D8;
    height: 86px;
    margin-bottom: 20px;
}
#banner img {
    display: block;
    margin: 0 auto;
}

#title {
    border-bottom: 1px #ddd solid;
    height: 28px;
    width: 980px;
    text-align: center;
    margin: 0 auto 28px auto;
}

#title span {
    font-size: 38px;
    background-color: #fff;
    padding: 0 20px;
}

#main a {
    color: #00a1d6;
}
