header>nav>div:not(#publication) a{
    color: #212121;
}

header>nav>#publication {
    color: white;
}

header>nav input {
    background-color: #f4f4f4;
    color: #999;
}

header>nav>div .bilifont {
    color: #00a1d6
}

#banner {
    background-color: #00A0D8;
    height: 86px;
    margin-bottom: 20px;
}
#banner img {
    display: block;
    margin: 0 auto;
}

#title {
    border-bottom: 1px #ddd solid;
    height: 28px;
    width: 980px;
    text-align: center;
    margin: 0 auto 28px auto;
}

#title span {
    font-size: 38px;
    background-color: #fff;
    padding: 0 20px;
}

#main a {
    color: #00a1d6;
    text-decoration: none;
}
